:root {
	--mainColor: #fdf8e1;
	--secondColor: #f9dc5c;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	width: 100vw;
}

header,
footer {
	background-color: var(--secondColor);
	padding: 6px;
	text-align: center;
}

header > p {
	margin: 0;
	font-weight: 800;
}

h1 {
	margin: 4px;
}

footer > p {
	margin: 4px;
}

footer :first-child {
	font-weight: 800;
	font-size: large;
}

footer :last-child {
	font-weight: 800;
	font-size: small;
}

main {
	background-color: var(--mainColor);
	flex-grow: 1;
}
